<?xml version="1.0" encoding="utf-8"?>
<!-- Public -->
<configuration>
  <configSections>
    <section name="MVVMConfiguration" type="Core.MVVM.Configuration.MVVMConfiguration, Core.MVVM" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DoctorConfiguration" type="Vivos.Configuration.DoctorConfiguration, Vivos" allowLocation="true" allowDefinition="Everywhere" />
    <section name="ClientConfiguration" type="Core.Client.Configuration.ClientConfiguration, Core.Client" allowLocation="true" allowDefinition="Everywhere" />
    <section name="CommonConfiguration" type="Core.Common.Configuration.CommonConfiguration, Core.Common" allowLocation="true" allowDefinition="Everywhere" />
    <section name="MailConfiguration" type="Core.Mail.Configuration.MailConfiguration, Core.Mail" allowLocation="true" allowDefinition="Everywhere" />
    <section name="LogConfiguration" type="Core.Log.Configuration.LogConfiguration, Core.Log" allowLocation="true" allowDefinition="Everywhere" />
    <section name="MarketConfiguration" type="Market.Client.Configuration.MarketConfiguration, Market.Client" allowLocation="true" allowDefinition="Everywhere" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <MarketConfiguration >

  </MarketConfiguration>

  <ClientConfiguration MaxImageSizeInKB="200" AdminRoleCode="AdminRole" DoctorRole="DoctorRole">
  </ClientConfiguration>

  <DoctorConfiguration>
  </DoctorConfiguration>

  <CommonConfiguration>
    <DefaultUser Username="Default User" Password="21BDE154-16EC-4361-8275-FB29C74276D7"></DefaultUser>
  </CommonConfiguration>

  <LogConfiguration Source="Vivos" PlainTextFileFormat="VIVOOS-VR_{0:yyyy_MM_dd_HH_mm_ss_fff}.txt" XmlFileFormat="VIVOOS-VR_{0:yyyy_MM_dd_HH_mm_ss_fff}.svclog" SecurityExceptionMessage="Yetki Hatası." SystemExceptionMessage="Genel Hata." UserWindowSource="Vivos.Information">
  </LogConfiguration>

  <MailConfiguration TemplatePath="Email">
    <WebAdmin Name="Web Admin" Server="srvm04.turhost.com" Port="25" EMail="dogut@ideasis.com.tr" WindowsIdentityName="dogut@ideasis.com.tr" WindowsPassword="Port1343" />
  </MailConfiguration>

  <MVVMConfiguration MessageBoxTitle="UZMAN" DefaultTitle="UZMAN">
  </MVVMConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
  </connectionStrings>


  <system.diagnostics>
    <sharedListeners>
      <add name="FileListener" type="Core.Log.Listeners.FileTraceListener, Core.Log" traceOutputOptions="DateTime" initializeData="c:\Log\"></add>
      <add name="DefaultListener" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime"></add>
      <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Core.Desktop" traceOutputOptions="DateTime"></add>
      <!--<add name="InformationWindowListener" type="Core.Desktop.Library.InformationWindowListener, Core.Desktop"></add>-->
    </sharedListeners>

    <sources>
      <source name="Vivos" switchValue="All">
        <listeners>
          <clear />
          <add name="FileListener"></add>
          <add name="DefaultListener"></add>
          <add name="EventLogListener"></add>
        </listeners>
      </source>
      <!--<source name="Vivos.Information" switchValue="All">
        <listeners>
          <clear/>
          <add name="InformationWindowListener"></add>
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
    </diagnostics>

    <client>
      <endpoint address="http://market.ideasis.com.tr/Core.Server.Services.OrganizationService.svc"
        behaviorConfiguration="wsHttpBehaviorConfig" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.IOrganizationService"
        name="OrganizationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://market.ideasis.com.tr/Core.Server.Services.SessionService.svc"
        behaviorConfiguration="wsHttpBehaviorConfig" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.ISessionService"
        name="SessionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://market.ideasis.com.tr/Market.Server.PublicMarketService.svc"
        behaviorConfiguration="wsHttpBehaviorConfig" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.IPublicMarketService"
        name="PublicMarketService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <bindings>

      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxReceivedMessageSize="100000000">
          <readerQuotas maxStringContentLength="100000000" maxArrayLength="100000000" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>

        <behavior name="wsHttpBehaviorConfig">
          <!-- + Güvenliği iptal etmek için bu kısım iptal edilecek -->
          <!--<clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>-->
            <!-- - Güvenliği iptal etmek için bu kısım iptal edilecek -->
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.PlatformServices" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Threading" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>