

@{
    ViewBag.Title = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="controllerCustomerIndex">

    <div class="container">
        <div class="row">

            <div class="h2 product-group-header">
                Products You Owned
            </div>
        </div>
        <div class="row">
            <div class="m-0 p-0 " ng-repeat="x in AssetsIOwned track by x.Id" ">
                <div class="col-sm-3 card m-5 card-product">

                    <div class="card-header p-10 p-t-10 p-b-10">
                        <h2>{{x.Name}}</h2>
                    </div>
                    <div class="card-body p-0 ">
                        <div class="m-0 m-t-20 m-b-20">{{x.Description}}</div>
                        <img class="img-responsive m-b-20" ng-src="data:image/JPEG;base64,{{x.Image}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">

            <div class="h2 product-group-header">
                Products You May Own
            </div>
        </div>
        <div class="row">
            <div class="m-0 p-0 " ng-repeat="x in AssetsIMayOwn track by x.Id">
                <div class="col-sm-3 card m-5 card-product">

                    <div class="card-header p-10 p-t-10 p-b-10">
                        <h2>{{x.Name}}</h2>

                    </div>
                    <div class="card-body p-0 ">
                        <div class="m-0 m-t-20 m-b-20">{{x.Description}}</div>
                        <div class="t-add bgm-yellow">
                            <i class="ta-btn zmdi zmdi-plus"></i>
                        </div>
                        <img class="img-responsive m-b-20" ng-src="data:image/JPEG;base64,{{x.Image}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
