<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VivoosVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <connectionStrings><add name="VivosEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Vivos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <VivoosVR.Properties.Settings>
      <setting name="soket_ip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="soket_port" serializeAs="String">
        <value>9001</value>
      </setting>
      <setting name="senaryo_dizin" serializeAs="String">
        <value>C:\Users\oguzh\Desktop\VivoosVR\extracted\</value>
      </setting>
      <setting name="neulog_dizin" serializeAs="String">
        <value>C:\neulog_api\neulog_api.exe</value>
      </setting>
      <setting name="neulog_ip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="neulog_port" serializeAs="String">
        <value>22002</value>
      </setting>
      <setting name="sensor_visible" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="sensor_interval" serializeAs="String">
        <value>4</value>
      </setting>
    </VivoosVR.Properties.Settings>
  </userSettings>
</configuration>
