<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Keywords>
        <Keyword>rxval</Keyword>
      </Keywords>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>rxval</Title>
      <Author>Dogu Tumerdem</Author>
      <Description>
      </Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>rxvalstr</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>Command</ID>
          <ToolTip>Command</ToolTip>
          <Default>Command</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[$Command$.SubscribeValidate(x =>
                {
					if (string.IsNullOrWhiteSpace(x))
					{
						return "$end$";
					}
                    
					return null;
                });]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>