<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="LogConfiguration" type="Core.Log.Configuration.LogConfiguration, Core.Log" allowLocation="true" allowDefinition="Everywhere" />
    <section name="MailConfiguration" type="Core.Mail.Configuration.MailConfiguration, Core.Mail" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CoreEntities" connectionString="metadata=res://*/DataModel.CoreDataModel.csdl|res://*/DataModel.CoreDataModel.ssdl|res://*/DataModel.CoreDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Vivos;user id=VivosServiceUser;password=Port1343;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VivosEntities" connectionString="metadata=res://*/MarketModel.csdl|res://*/MarketModel.ssdl|res://*/MarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql11.turhost.com;initial catalog=Vivos;User ID=VivosServiceUser;Password=Port1343;integrated security=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <LogConfiguration Source="Vivoos-VR" PlainTextFileFormat="VIVOOS-VR_{0:yyyy_MM_dd_HH_mm_ss_fff}.txt" XmlFileFormat="VIVOOS-VR_{0:yyyy_MM_dd_HH_mm_ss_fff}.svclog" SecurityExceptionMessage="Yetki Hatası." SystemExceptionMessage="Genel Hata." UserWindowSource="Vivos.Information" />
  <MailConfiguration TemplatePath="Email">
    <WebAdmin Name="Web Admin" Server="srvm04.turhost.com" Port="25" EMail="dogut@ideasis.com.tr" WindowsIdentityName="dogut@ideasis.com.tr" WindowsPassword="Port1343" />
  </MailConfiguration>
  <system.diagnostics>
    <sharedListeners>
      <add name="DBListener" type="Core.Log.Listeners.DBTraceListener, Core.Log" traceOutputOptions="None" initializeData="data source=.;integrated security=True;initial catalog=Vivos;MultipleActiveResultSets=True;" />
      <add name="FileListener" type="Core.Log.Listeners.FileTraceListener, Core.Log" traceOutputOptions="DateTime" initializeData="c:\Log\" />
      <add name="DefaultListener" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime" />
      <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Market.Services" traceOutputOptions="DateTime" />
      <!--<add name="InformationWindowListener" type="Core.Desktop.Library.InformationWindowListener, Core.Desktop"></add>-->
    </sharedListeners>
    <sources>
      <source name="Vivoos-VR" switchValue="All">
        <listeners>
          <clear />
          <add name="DBListener" />
          <add name="FileListener" />
          <add name="DefaultListener" />
          <!--<add name="EventLogListener"></add>-->
        </listeners>
      </source>
      <!--<source name="Vivos.Information" switchValue="All">
        <listeners>
          <clear/>
          <add name="InformationWindowListener"></add>
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="AuthHttpModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="Core.Server.Services.OrganizationService" relativeAddress="Core.Server.Services.OrganizationService.svc" />
        <add service="Core.Server.Services.SessionService" relativeAddress="Core.Server.Services.SessionService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="UsernamePasswordBehavior" name="Core.Server.Services.OrganizationService">
        <endpoint address="Core.Server.Services.SessionService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.IOrganizationService">
          <identity>
            <dns value="vivoosvr.ideasis.com.tr" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="UsernamePasswordBehavior" name="Core.Server.Services.SessionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.ISessionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" openTimeout="10:00:00" closeTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxReceivedMessageSize="1000000">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UsernamePasswordBehavior">
          <!-- + Güvenliği iptal etmek için bu kısım iptal edilecek -->
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure" suppressAuditFailure="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Core.Server.Tools.UserNameValidator, Core.Server" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="Core.Server.Tools.AuthorizationManager, Core.Server">
            <authorizationPolicies>
              <add policyType="Core.Server.Tools.AuthorizationPolicy, Core.Server" />
            </authorizationPolicies>
          </serviceAuthorization>
          <!-- - Güvenliği iptal etmek için bu kısım iptal edilecek -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- + Güvenliği iptal etmek için bu kısım iptal edilecek -->
    <extensions>
      <behaviorExtensions>
        <add name="coreErrorHandlerBehaviorExtension" type="Core.Server.CoreErrorHandlerBehaviorExtension, Core.Server" />
      </behaviorExtensions>
    </extensions>
    <!-- - Güvenliği iptal etmek için bu kısım iptal edilecek -->
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>