<?xml version="1.0" encoding="utf-8"?>
<!-- Public -->
<configuration>
  <configSections>
    <section name="CommonConfiguration" type="Core.Common.Configuration.CommonConfiguration, Core.Common" allowLocation="true" allowDefinition="Everywhere" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ServerConfiguration" type="Core.Server.Configuration.ServerConfiguration, Core.Server" allowLocation="true" allowDefinition="Everywhere" />
    <section name="LogConfiguration" type="Core.Log.Configuration.LogConfiguration, Core.Log" allowLocation="true" allowDefinition="Everywhere" />
    <section name="MailConfiguration" type="Core.Mail.Configuration.MailConfiguration, Core.Mail" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <CommonConfiguration>
    <DefaultUser Username="Default User" Password="21BDE154-16EC-4361-8275-FB29C74276D7" />
  </CommonConfiguration>

  <ServerConfiguration>
    <CacheConfiguration ExpirePeriod="00:05:00" />
  </ServerConfiguration>

  <MailConfiguration TemplatePath="Email">
    <WebAdmin Name="Web Admin" Server="mail.dotnetcup.com" Port="25" EMail="dogu@dotnetcup.com" WindowsIdentityName="dogu@dotnetcup.com" WindowsPassword="Lale4545" />
  </MailConfiguration>

  <LogConfiguration SecurityExceptionMessage="Yetki Hatası." SystemExceptionMessage="Genel Hata." Source="Market.Services" UserWindowSource="UserWindowSource" />

  <system.diagnostics>
    <sharedListeners>
      <add name="DBListener" type="Core.Log.Listeners.DBTraceListener, Core.Log" traceOutputOptions="None" initializeData="data source=mssql11.turhost.com;initial catalog=Vivos;User ID=VivosServiceUser;Password=Port1343;integrated security=False;multipleactiveresultsets=True;"/>
      <!--<add name="FileListener" type="Core.Log.Listeners.FileTraceListener, Core.Log" traceOutputOptions="DateTime" initializeData="c:\Logs\"></add>-->
      <add name="DefaultListener" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime"></add>
      <!--<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Market.Services" traceOutputOptions="DateTime"></add>-->
      <!--<add name="InformationWindowListener" type="Core.Desktop.Library.InformationWindowListener, Core.Desktop"></add>-->
    </sharedListeners>

    <sources>
      <source name="Market.Services" switchValue="All">
        <listeners>
          <clear />
          <!--<add name="FileListener"></add>-->
          <add name="DBListener"></add>
          <add name="DefaultListener"></add>
          <!--<add name="EventLogListener"></add>-->
        </listeners>
      </source>
      <!--<source name="Vivos.Information" switchValue="All">
        <listeners>
          <clear/>
          <add name="InformationWindowListener"></add>
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>

  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="Market.Server.PublicMarketService" relativeAddress="Market.Server.PublicMarketService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
    </diagnostics>

    <services>
      <service behaviorConfiguration="UsernamePasswordBehavior" name="Market.Server.PublicMarketService">
        <host>
          <baseAddresses>
            <add baseAddress="http://market.ideasis.com.tr/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="Core.Common.Services.IPublicMarketService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" openTimeout="10:00:00" closeTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxReceivedMessageSize="100000000">
          <readerQuotas maxArrayLength="100000000" maxStringContentLength="100000000" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="UsernamePasswordBehavior">
          <!-- + Güvenliği iptal etmek için bu kısım iptal edilecek -->
          <!--<serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure" suppressAuditFailure="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Core.Server.Tools.UserNameValidator, Core.Server" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="Core.Server.Tools.AuthorizationManager, Core.Server">
            <authorizationPolicies>
              <add policyType="Core.Server.Tools.AuthorizationPolicy, Core.Server" />
            </authorizationPolicies>
          </serviceAuthorization>-->
          <!-- - Güvenliği iptal etmek için bu kısım iptal edilecek -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- + Güvenliği iptal etmek için bu kısım iptal edilecek -->
    <!--<extensions>
      <behaviorExtensions>
        <add name="coreErrorHandlerBehaviorExtension" type="Core.Server.CoreErrorHandlerBehaviorExtension, Core.Server" />
      </behaviorExtensions>
    </extensions>-->
    <!-- - Güvenliği iptal etmek için bu kısım iptal edilecek -->

  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="VivosEntities" connectionString="metadata=res://*/MarketModel.csdl|res://*/MarketModel.ssdl|res://*/MarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql11.turhost.com;initial catalog=Vivos;User ID=VivosServiceUser;Password=Port1343;integrated security=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities"  connectionString="metadata=res://*/DataModel.CoreDataModel.csdl|res://*/DataModel.CoreDataModel.ssdl|res://*/DataModel.CoreDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql11.turhost.com;initial catalog=Vivos;user id=VivosServiceUser;password=Port1343;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VivosModel" connectionString="data source=mssql11.turhost.com;initial catalog=Vivos;User ID=VivosServiceUser;Password=Port1343;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>

  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>-->


</configuration>